<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<widget id="4-2cal" version="1.39" width="11em" height="9em"
	xmlns="http://www.w3.org/ns/widgets">
 <title>4-2cal</title>
 <description>Calendrier des cycles 4/2.</description>
 <icon src="images/icon.png"/>
 <content src="index.html"/>
 <access network="false"/>
</widget>
